.name-label {
    margin-top: 5px;
}

input.name:focus ~ label {
    margin-top: -.7em;
    background-color: #2c5c79;
    font-size: .75em;
    animation: .5s all ease-in-out;
    margin-left: 5px;
}

input.name:not(:placeholder-shown) ~ label {
    margin-top: -.7em;
    background-color: #2c5c79;
    font-size: .75em;
    animation: .5s all ease-in-out;
    margin-left: 5px;

}

input.password:focus ~ label {
    margin-top: -.7em;
    background-color: #2e5e7b;
    font-size: .75em;
    animation: .5s all ease-in-out;
}


input.password:not(:placeholder-shown) ~ label {
    margin-top: -.7em;
    background-color: #2e5e7b;
    font-size: .75em;
    padding-left: .6em;
    padding-right: .6em;
    animation: .5s all ease-in-out;
}
